<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <aside *ngIf="data" class="pv-sidebar">
        <div class="pv-status">
          {{ currentIndex + 1 }} / {{ data.length }}
        </div>
        <div 
          *ngFor="let item of data; let index = index;"
          class="pv-preview-item"
          [ngClass]="{'current': index === currentIndex}"
          (click)="setIndex(index)"
          >
          <span>{{ item.title }}</span>
          <span>{{ item.score }}</span>
        </div>
    </aside>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="pv-navigation">
      <button mat-button color="accent" (click)="getData('lata5060')">Lata 50/60</button>
      <button mat-button color="accent" (click)="getData('lata70')">Lata 70</button>
      <button mat-button color="accent" (click)="getData('lata80')">Lata 80</button>
      <button mat-button color="accent" [matMenuTriggerFor]="lata90">Lata 90</button>
      <mat-menu #lata90="matMenu">
        <button mat-menu-item (click)="getData('lata90-1')">Lata 90.1</button>
        <button mat-menu-item (click)="getData('lata90-2')">Lata 90.2</button>
      </mat-menu>
      <button mat-button color="accent" [matMenuTriggerFor]="lata00">Lata 00</button>
      <mat-menu #lata00="matMenu">
        <button mat-menu-item (click)="getData('lata00-1')">Lata 00.1</button>
        <button mat-menu-item (click)="getData('lata00-2')">Lata 00.2</button>
        <button mat-menu-item (click)="getData('lata00-3')">Lata 00.3</button>
        <button mat-menu-item (click)="getData('lata00-4')">Lata 00.4</button>
        <button mat-menu-item (click)="getData('lata00-5')">Lata 00.5</button>
      </mat-menu>
      <button mat-button color="accent" [matMenuTriggerFor]="lata10">Lata 10</button>
      <mat-menu #lata10="matMenu">
        <button mat-menu-item (click)="getData('lata10-1')">Lata 10.1</button>
        <button mat-menu-item (click)="getData('lata10-2')">Lata 10.2</button>
        <button mat-menu-item (click)="getData('lata10-3')">Lata 10.3</button>
        <button mat-menu-item (click)="getData('lata10-4')">Lata 10.4</button>
        <button mat-menu-item (click)="getData('lata10-5')">Lata 10.5</button>
        <button mat-menu-item (click)="getData('lata10-6')">Lata 10.6</button>
        <button mat-menu-item (click)="getData('lata10-7')">Lata 10.7</button>
        <button mat-menu-item (click)="getData('lata10-8')">Lata 10.8</button>
        <button mat-menu-item (click)="getData('lata10-9')">Lata 10.9</button>
      </mat-menu>
      <button mat-button color="accent" [matMenuTriggerFor]="lata20">Lata 20</button>
      <mat-menu #lata20="matMenu">
        <button mat-menu-item (click)="getData('latanow-1')">Lata 20.1</button>
        <button mat-menu-item (click)="getData('latanow-2')">Lata 20.2</button>
        <button mat-menu-item (click)="getData('latanow-3')">Lata 20.3</button>
        <button mat-menu-item (click)="getData('latanow-4')">Lata 20.4</button>
        <button mat-menu-item (click)="getData('latanow-5')">Lata 20.5</button>
      </mat-menu>
    </mat-toolbar>
    <section *ngIf="data" class="pv-container">
        <mat-card class="pv-voting-card">
          <h2>{{ data[currentIndex].title }}</h2>
          <h5>{{ data[currentIndex].author }}</h5>
          <div><a target="_blank" href="{{ data[currentIndex].url }}">{{ data[currentIndex].url }}</a></div>
          <div class="pv-controls">
            <button mat-raised-button color="warn" (click)="setScore(-1)">Meh (-1)</button>
            <button mat-raised-button color="primary" (click)="setScore(0)">Neutral (0)</button>
            <button mat-raised-button color="accent" (click)="setScore(1)">Cool (+1)</button>
          </div>
        </mat-card>
        <div class="pv-answers">
          <mat-form-field appearance="fill">
            <mat-label>Odpowiedź</mat-label>
            <textarea matInput name="answer" id="answer" cols="10" rows="30" [(ngModel)]="answers"></textarea>
          </mat-form-field>
          <button mat-raised-button color="accent" [cdkCopyToClipboard]="getAnswers()">Copy to clipboard</button>
        </div>
    </section>
  </mat-drawer-content>
</mat-drawer-container>

