
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-drawer-container { 
    height: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: #303030;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #69f0ae;
    border-radius: 20px;
    border: 3px solid #303030;
}